/* === Colour-Palette === */
/* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
/* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
/*? === design === */
/*? === text === */
/* futura: font-family: futura-pt,sans-serif; */
@import url("https://use.typekit.net/izw3hmc.css");
/* Mixins */
/*#region About Page Layout */
.main {
  padding: 0.5rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "headline headline" "contentLeft map" "outro outro";
  position: relative;
}
.main > .about_me_img_wrapper {
  width: clamp(100px, 30%, 25vh);
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 40%;
  clip-path: circle();
  animation: rotate-element-animation 20s infinite linear;
}

/*#endregion */
/*#region Content Section */
.about_content_section {
  grid-area: contentLeft;
  display: flex;
  margin-top: 2rem;
}
.about_content_section > .about_text_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: clamp(45ch, 50%, 75ch);
}
.about_content_section > .about_text_container > h2 {
  color: rgb(255, 102, 0);
  font-weight: bold;
}
.about_content_section > .about_text_container > p {
  margin-left: 2rem;
}

/*#endregion*/
/*#region Map Section */
.about_map_section {
  grid-area: map;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.about_map_section > .about_map_container > .about_map_wrapper {
  filter: grayscale(0.8);
}

/*#endregion*/
/*#region Outro Section */
.about_outro_section {
  grid-area: outro;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.about_outro_section > .about_me_final_text {
  padding: 1rem;
}
.about_outro_section > .about_me_final_text > h2 {
  text-align: center;
  color: rgb(255, 102, 0);
  font-weight: bold;
}
.about_outro_section > .about_me_final_text > p {
  text-align: center;
  padding: 0.5rem;
}
.about_outro_section > .about_signature {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  pointer-events: none;
}
.about_outro_section > .infobox {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 80%;
  border: solid 2px rgb(255, 102, 0);
  border-radius: 1rem;
}

/*#endregion*/
/* #region Animations */
.about_me_img_wrapper {
  animation: rotate-element-animation 20s infinite linear;
}

@keyframes rotate-element-animation {
  0% {
    transform: perspective(300px) rotateY(0deg);
  }
  25% {
    transform: perspective(300px) rotateY(90deg);
  }
  50% {
    transform: perspective(300px) rotateY(180deg);
  }
  75% {
    transform: perspective(300px) rotateY(270deg);
  }
  100% {
    transform: perspective(300px) rotateY(360deg);
  }
}
.about_map_container {
  position: relative;
}

.about_map_container::after {
  content: "";
  border: solid 2px rgb(255, 0, 255);
  position: absolute;
  transition: all 500ms ease;
  top: 42.5%;
  right: 37.5%;
  width: 2rem;
  height: 2rem;
  border-width: 3px;
  border-style: dashed;
  border-radius: 50%;
}

.about_map_container:hover::after {
  animation: map-animation 10s infinite alternate ease-in-out;
}

@keyframes map-animation {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(3) rotate(180deg);
    border-color: rgb(255, 102, 0);
  }
  to {
    transform: rotate(360deg), scale(0.5);
    border-color: red;
  }
}
/* #endregion */
/*#region Headline Section */
.headline_section {
  display: flex;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.devlogo_wrapper {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.page_title {
  color: rgb(255, 102, 0);
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

/*#endregion */
/*#region Pseudoelements */
.devlogo_wrapper {
  position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  left: -0.5rem;
  bottom: -0.5rem;
}

.devlogo_wrapper::before {
  height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
  width: 2rem;
}

.devlogo {
  width: fit-content;
  height: fit-content;
}

.headline_section:hover .devlogo_wrapper::before {
  height: 3rem;
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .devlogo_wrapper::after {
  width: 3rem;
  border-color: rgb(255, 0, 255);
}

.page_title {
  position: relative;
}

.page_title::before,
.page_title::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  bottom: -0.5rem;
  right: -0.5rem;
}

.page_title::before {
  height: 2rem;
}

.page_title::after {
  width: 50%;
}

.headline_section:hover .page_title::before {
  height: calc(100% + 1rem);
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .page_title::after {
  width: 2rem;
  border-color: rgb(255, 0, 255);
}

/*#endregion */
/*#region Transitions */
.devlogo {
  transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

.devlogo and body:not(.noanimations) {
  transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/*#endregion */
/*#region Media Queries */
@media (max-width: 1600px) {
  .main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .main > .about_me_img_wrapper {
    display: none;
  }
  .about_content_section {
    margin-top: 1rem;
  }
  .about_content_section > .about_text_container {
    gap: 0.5rem;
    padding: 1rem;
    width: fit-content;
  }
  .about_content_section > .about_text_container > .about_thanks {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: rgb(255, 102, 0);
  }
  .about_map_section {
    margin-top: 1rem;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .about_outro_section {
    margin-top: 2rem;
  }
  .about_outro_section > .about_me_final_text h2 {
    text-align: left;
  }
  .about_outro_section > .about_me_final_text p {
    text-align: left;
  }
  .about_outro_section > .infobox {
    margin-top: 2rem;
  }
}
/*#endregion */

/*# sourceMappingURL=About.module.css.map */
