/* === Colour-Palette === */
/* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
/* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
/*? === design === */
/*? === text === */
/* futura: font-family: futura-pt,sans-serif; */
@import url("https://use.typekit.net/izw3hmc.css");
/* Mixins */
/*#region Projects Section */
.intro {
  padding: 1rem;
  text-align: center;
  width: clamp(300px, 55%, 85ch);
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 102, 0);
  border-radius: 2rem;
  outline: solid 2px rgb(29, 29, 29);
  outline-offset: -0.3rem;
  transition: all 0.5s ease-in-out;
  color: rgb(29, 29, 29);
  font-weight: bold;
}
.intro > a {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(29, 29, 29);
}

.intro:hover {
  outline-offset: 0.5rem;
  outline-color: rgb(255, 102, 0);
}

/*#endregion */
/*#region App-Projects Section */
.projects {
  display: grid;
  gap: 6rem;
  margin-bottom: 6rem;
}
.projects > .project_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 5%;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.projects > .project_container > .project_text_wrapper {
  width: clamp(45ch, 50%, 75ch);
  padding: 1rem;
  font-size: large;
}
.projects > .project_container > .project_text_wrapper > h2 {
  color: rgb(255, 102, 0);
  font-weight: bold;
}
.projects > .project_container > .project_text_wrapper > p {
  margin-left: 2rem;
}
.projects > .project_container > .project_text_wrapper > a {
  text-decoration: none;
  color: rgb(255, 102, 0);
  text-align: center;
}
.projects > .project_container > .project_img_wrapper {
  justify-self: start;
  padding: 1rem;
  width: 40%;
}

.project_img_wrapper {
  display: grid;
  align-items: center;
}

.project_mmcardgame {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 5%;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.project_mmcardgame > .project_text_wrapper {
  width: clamp(45ch, 50%, 75ch);
}

.under_construction {
  pointer-events: none;
  filter: blur(1rem);
}

/*#endregion*/
/*#region Transitions */
.project_etch,
.project_fourwins,
.project_tictactoe,
.project_rps {
  filter: blur(1rem);
  transition: all 500ms;
}

.project_etch:hover,
.project_fourwins:hover,
.project_tictactoe:hover,
.project_rps:hover {
  filter: blur(0);
}

/*#endregion*/
/*#region Animations*/
.project_etch:hover .etch_a > h3,
.project_tictactoe:hover .tictactoe_a > h3 {
  animation: a_red_animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes a_red_animation {
  50% {
    transform: scale(1.5);
    color: rgb(255, 0, 0);
  }
}
.project_etch:hover .project_text_wrapper > .project_h2,
.project_tictactoe:hover .project_text_wrapper > .project_h2 {
  animation: h3_red_animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes h3_red_animation {
  50% {
    color: rgb(255, 0, 0);
  }
}
.project_fourwins:hover .fourwins_a > h3 {
  animation: a_blue_animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes a_blue_animation {
  50% {
    transform: scale(1.5);
    color: rgb(0, 0, 250);
  }
}
.project_fourwins:hover .project_text_wrapper > .project_h2,
.project_mmcardgame:hover .project_text_wrapper > .project_h2,
.project_mmcardgame:hover .mmcardgame_l {
  animation: h3_blue_animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes h3_blue_animation {
  50% {
    color: rgb(0, 0, 250);
  }
}
.project_rps:hover .rps_a > h3 {
  animation: a_white_animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes a_white_animation {
  50% {
    transform: scale(1.5);
    color: rgb(255, 255, 255);
  }
}
.project_rps:hover .project_text_wrapper > .project_h2 {
  animation: h3_white_animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes h3_white_animation {
  50% {
    color: rgb(255, 255, 255);
  }
}
/*#endregion */
/*#region Headline Section */
.headline_section {
  display: flex;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.devlogo_wrapper {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.page_title {
  color: rgb(255, 102, 0);
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.devlogo_wrapper {
  position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  left: -0.5rem;
  bottom: -0.5rem;
}

.devlogo_wrapper::before {
  height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
  width: 2rem;
}

.devlogo {
  width: fit-content;
  height: fit-content;
}

.headline_section:hover .devlogo_wrapper::before {
  height: 3rem;
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .devlogo_wrapper::after {
  width: 3rem;
  border-color: rgb(255, 0, 255);
}

.page_title {
  position: relative;
}

.page_title::before,
.page_title::after {
  content: "";
  border: solid 2px rgb(107, 106, 106);
  position: absolute;
  transition: all 2s ease;
  bottom: -0.5rem;
  right: -0.5rem;
}

.page_title::before {
  height: 2rem;
}

.page_title::after {
  width: 50%;
}

.headline_section:hover .page_title::before {
  height: calc(100% + 1rem);
  border-color: rgb(255, 0, 255);
}

.headline_section:hover .page_title::after {
  width: 2rem;
  border-color: rgb(255, 0, 255);
}

.devlogo {
  transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

.devlogo and body:not(.noanimations) {
  transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/*#endregion */

/*# sourceMappingURL=Projects.module.css.map */
