
/* todo This code was one of my first projects ever, so... pls be kind! */



/*#region  CSS-Setup */

/*? ===  font(s) === */

/* futura: font-family: futura-pt,sans-serif; */
@import url("https://use.typekit.net/izw3hmc.css");

/* #region setup & themes  */

:root {
  overflow-wrap: break-word;
  word-wrap: break-word;

  --font-futura: Garamond, sans-serif;
  font-weight: 400;
  font-style: normal;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.375rem;
  --fs-700: 2rem;

  /* ! test that out if it is working */
  @media (min-width: 45em) {
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 2.75rem;
    --fs-700: 4.125rem;
  }

  /* ==================  
?    ===  Colour-Palette  ===
.     ================== */
  --wkd-black: rgb(0, 0, 0);
  --wkd-darkgrey: #1d1d1d;
  --wkd-midgrey: rgb(61, 61, 61);
  --wkd-grey: rgb(107, 106, 106);
  --wkd-lightgrey: #b2b6a0;
  --wkd-white: rgb(255, 255, 255);
  --wkd-red: rgb(255, 0, 0);
  --wkd-green: rgb(82, 150, 34);
  --wkd-intense-blue: rgb(0, 0, 250);
  --wkd-pastell-blue: rgb(25, 145, 210);
  --wkd-torquise: #08fdd8;
  --wkd-blueviolett: rgb(21, 23, 76);
  --wkd-yellow: rgb(255, 255, 0);
  --wkd-yellow-dark: rgb(255, 183, 0);
  --wkd-orange: rgb(
    255,
    102,
    0
  ); /* filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%); */
  --wkd-grapefruit: rgb(239, 95, 87);
  --wkd-pink: rgb(255, 0, 128);
  --wkd-pinkviolett: rgb(
    255,
    0,
    255
  ); /* filter: brightness(0) saturate(100%) invert(19%) sepia(63%) saturate(4179%) hue-rotate(293deg) brightness(123%) contrast(136%); */
  --wkd-manner: rgb(235, 184, 173);
}

:root.theme_prime {
  /*? === design === */
  --main-colour: var(--wkd-lightgrey);
  --counter-colour: var(--wkd-torquise);
  --design-strokes-colour: var(--wkd-grey);
  --design-strokes-accent-colour: var(--wkd-pinkviolett);
  --shadows: var(--wkd-white);

  /*? === text === */
  --text-optimal-width: clamp(45ch, 50%, 75ch);
  --text-main-colour: var(--wkd-white);
  --link-hover-color: var(--wkd-red);
}

/* #endregion */

/* #region resets */

/* box-sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
picture {
  margin: 0;
}

/* set up the body*/
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who turned them off*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* #endregion */

/* #endregion */



/* #region General, Wrapper & Headlines */

body {
  background-color: var(--main-colour);
  color: var(--text-main-colour);
  font-family: var(--font-futura);
}

button,
input {
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: .5rem;
}

.instruct {
  font-size: small;
  text-align: center;



  margin-right: .5rem;
}

.wrapper-left:hover h1 {
  color:  var(--counter-colour);
}

.headline-p {
  font-size: var(--fs-600);
  text-align: center;
  text-transform: capitalize;
}

.headline-image {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sketchboard {
  display: flex;
  height: 100vh;
  width: 100%;
}

.grid-firstrow {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}


/* #endregion */



/* #region User Input */

.user-settings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* ! Resolution-Section */

.change-resolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.change-resolution-headline {
text-align: center;
}

.x-span {
  display: flex;
}

.input-number {
  width: 7ch;
  text-align: center;
  border: none;
}

.resnumber-to {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.btn-res,
.btn-rem {
  border: none;
  width: 50%;
  margin: 2%;
  background-color: var(--wkd-lightgrey);
  color: var(--text-main-colour);
  transform: scale(1);
}

.btn-res {
  border-right: solid 2px var(--wkd-white);
}

.bind-btn {
  width: 7ch;
  margin-left: .5rem;
  border: none;
  border-radius: 20%;
}

.bind-btn[data-bind = "on"]{
  background-color: var(--counter-colour);
}

/* ! Colour section */

.change-colour {
  display: flex;
  flex-direction: column;
}

.colour {
  display: flex;
  gap: 0.5rem;
}

.change-colour-headline {
  text-align: center;
  margin-top: .5rem;
}

.colour-buttons-span {
  display: flex;
}

input[type="Color"] {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.borderWorkbench {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.borderSpan {
  display: flex;
  gap: 1rem;
  margin-top: -.5rem;
}

.logos-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.logos {
  width: 2rem;
}

/* #endregion */



/* #region Transitions */

/* ? General, Wrapper & Headlines */

/* ? User Input */

.btn-res,
.btn-rem,
.bind-btn,
#colorPickerDrawing, 
#colorPickerBackground, 
#colorPickerBorder {
  transition: all 0.3s ease-in;
  transition-property: color, background;
}

.btn-res:hover,
.btn-rem:hover {
  color: var(--wkd-torquise);
}

.bind-btn:hover {
  color: var(--counter-colour);
}

#colorPickerDrawing:hover, 
#colorPickerBackground:hover, 
#colorPickerBorder:hover {
  background-color: var(--counter-colour);
}

.logos:hover {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/* #endregion */