@import './ColorsAndDesign.scss';



/*#region Headline Section */

.headline_section {
    display: flex;
    padding-inline: 1rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    position: relative;
}

.page_title {
    color: $counter-colour;
    margin-left: auto;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding-right: 1rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

//? Devlogo

.devlogo_wrapper {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.devlogo {
    aspect-ratio: 1/1;
    min-width: 80px
}

.page_title {
    position: relative;
}

/*#endregion */



/*#region Transition */

.devlogo {
    transition: all 1s ease;
}

.devlogo and body:not(.noanimations) {
    transition: all 1s ease;
}

.devlogo_wrapper:hover .devlogo {
    filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}
  
.devlogo_wrapper:hover .devlogo {
    filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/*#endregion */



/*#region Pseudoelements */

.devlogo_wrapper {
    position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
    @include pseudo-element(2s, $wkd-grey);
    left: -.5rem;
    bottom: -.5rem;
}

.devlogo_wrapper::before {
    height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
    width: 2rem;
}

.headline_section:hover .devlogo_wrapper::before {
    height: 3rem;
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .devlogo_wrapper::after {
    width: 3rem;
    border-color: $wkd-pinkviolett;
}

.page_title::before,
.page_title::after {
    @include pseudo-element(2s, $wkd-grey);
    bottom: -.5rem;
    right: -.5rem;
}

.page_title::before {
    height: calc(2rem);
}

.page_title::after {
    width: 50%;
}

.headline_section:hover .page_title::before {
    height: calc(100% + 1rem);
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .page_title::after {
    width: 2rem;
    border-color: $wkd-pinkviolett;
}

/*#endregion */



/*#region Medie Queries */

@media (max-width: 500px){

    .devlogo_wrapper {
        display: none;
    }
    
    .page_title {
        margin: 5% 0% 0% 0%;
        padding-bottom: 2.5%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .page_title::before,
    .page_title::after {
        display: none;
    }
}

/*#endregion */