@import './ColorsAndDesign.scss';


/*#region Projects Section */

.intro {
    padding: 1rem;
    text-align: center;
    width: clamp(300px, 55%, 85ch);
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $wkd-orange;
    border-radius: 2rem;
    outline: solid 2px $wkd-darkgrey;
    outline-offset: -.3rem;
    transition: all .5s ease-in-out;
    color: $wkd-darkgrey;
    font-weight: bold;

    > a {
        font-size: $fs-700;
        text-decoration: none;
        color: $wkd-darkgrey;
    }
}

.intro:hover {
    outline-offset: .5rem;
    outline-color: $wkd-orange;
}

/*#endregion */



/*#region App-Projects Section */

.projects {
    display: grid;
    gap: 6rem;
    margin-bottom: 6rem;

    > .project_container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 5%;
        gap: 10%;
        align-items: center;
        justify-content: center;

        > .project_text_wrapper {
            width: $text-optimal-width;
            padding: 1rem;
            font-size: large;

            > h2 {
                color: $wkd-orange;
                font-weight: bold;
            }

            > p {
                margin-left: 2rem;
            }

            > a {
                text-decoration: none;
                color: $wkd-orange;
                text-align: center;
            }
        }

        > .project_img_wrapper {
            justify-self: start;
            padding: 1rem;
            width: 40%;
        }
    }
}

.project_img_wrapper{
    display: grid;
    align-items: center;
}

.project_mmcardgame{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 5%;
    gap: 10%;
    align-items: center;
    justify-content: center;

    > .project_text_wrapper{
        width: $text-optimal-width;
    } 
}

.under_construction{
    pointer-events: none;
    filter: blur(1rem);
}

/*#endregion*/



/*#region Transitions */

//? Projects blur transition

.project_etch,
.project_fourwins,
.project_tictactoe,
.project_rps {
    filter: blur(1rem);
    transition: all 500ms;
}

.project_etch:hover,
.project_fourwins:hover,
.project_tictactoe:hover,
.project_rps:hover {
    filter: blur(0)
}

/*#endregion*/



/*#region Animations*/

//? Red colour animations

.project_etch:hover .etch_a > h3,
.project_tictactoe:hover .tictactoe_a > h3 {
    animation: a_red_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes a_red_animation {
    50% {
        transform: scale(1.5);
        color: $wkd-red;
    }
}

.project_etch:hover .project_text_wrapper > .project_h2,
.project_tictactoe:hover .project_text_wrapper > .project_h2 {
    animation: h3_red_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes h3_red_animation {
    50% {
       color: $wkd-red;
    }
}


//? Blue colour animations

.project_fourwins:hover .fourwins_a > h3 {
    animation: a_blue_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes a_blue_animation {
    50% {
        transform: scale(1.5);
        color: $wkd-intense-blue;
    }
}

.project_fourwins:hover .project_text_wrapper > .project_h2,
.project_mmcardgame:hover .project_text_wrapper > .project_h2,
.project_mmcardgame:hover .mmcardgame_l  {
    animation: h3_blue_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes h3_blue_animation {
    50% {
       color: $wkd-intense-blue;
    }
}

//? White colour animations

.project_rps:hover .rps_a > h3 {
    animation: a_white_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes a_white_animation {
    50% {
        transform: scale(1.5);
        color: $wkd-white;
    }
}

.project_rps:hover .project_text_wrapper > .project_h2 {
    animation: h3_white_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes h3_white_animation {
    50% {
       color: $wkd-white;
    }
}

/*#endregion */



/*#region Headline Section */

.headline_section {
    display: flex;
    padding-inline: 1rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.devlogo_wrapper {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
}


.page_title {
    color: $counter-colour;
    margin-left: auto;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding-right: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

//? Headline-Logo

.devlogo_wrapper {
    position: relative;
}

.devlogo_wrapper::before,
.devlogo_wrapper::after {
    @include pseudo-element(2s, $wkd-grey);
    left: -.5rem;
    bottom: -.5rem;
}

.devlogo_wrapper::before {
    height: calc(100% + 1rem);
}

.devlogo_wrapper::after {
    width: 2rem;
}

.devlogo {
    width: fit-content;
    height: fit-content;
}

.headline_section:hover .devlogo_wrapper::before {
    height: 3rem;
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .devlogo_wrapper::after {
    width: 3rem;
    border-color: $wkd-pinkviolett;
}


//? Headline-Text
.page_title {
    position: relative;
}

.page_title::before,
.page_title::after {
    @include pseudo-element(2s, $wkd-grey);
    bottom: -.5rem;
    right: -.5rem;
}

.page_title::before {
    height: calc(2rem);
}

.page_title::after {
    width: 50%;
}

.headline_section:hover .page_title::before {
    height: calc(100% + 1rem);
    border-color: $wkd-pinkviolett;
}

.headline_section:hover .page_title::after {
    width: 2rem;
    border-color: $wkd-pinkviolett;
}



//? Devlogo transition

.devlogo {
    transition: all 1s ease;
}
  
.devlogo_wrapper:hover .devlogo {
    filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

.devlogo and body:not(.noanimations) {
    transition: all 1s ease;
}
  
.devlogo_wrapper:hover .devlogo {
    filter: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(4068%) hue-rotate(1deg) brightness(98%) contrast(106%);
}

/*#endregion */